$green-light:#9dc57e;
$green-med:#46b94f;
$green-dark:#00cf11;
$green-grey:#8D9B81;

$background-white:#efefef;
$grey-light:#5f5757;
$grey-dark:#373737;

$purple-grey:#583b58;
$purple-med:#854277;
$purple-dark:#60005e;

$link-blue: #337ab7;

$error-red-soft:#B12525;
$error-red-hard:#fb0404;

$wrapper-gradient1:#3f3f3f;
$wrapper-gradient2:#595959;
$wrapper-gradient3:#666666;
$wrapper-gradient4:#474747;
$wrapper-gradient5:#2b2b2b;