@import 'colors';

body{font-family:Arial,Helvetica Neue,Helvetica,sans-serif;overflow:hidden;}
body, .btn span.glyphicon{color:$green-dark;}
#wrapper{
position:absolute;
width:100%;
height:100%;
padding:0;
top:0;right:0;bottom:0;left:0;
background:$wrapper-gradient1;
background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iIzNmM2YzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE2JSIgc3RvcC1jb2xvcj0iIzU5NTk1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI3JSIgc3RvcC1jb2xvcj0iIzY2NjY2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzQ3NDc0NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc4JSIgc3RvcC1jb2xvcj0iIzJiMmIyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background:-moz-linear-gradient(top, $wrapper-gradient1 5%, $wrapper-gradient2 16%, $wrapper-gradient3 27%, $wrapper-gradient4 51%, $wrapper-gradient5 78%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(5%,$wrapper-gradient1), color-stop(16%,$wrapper-gradient2), color-stop(27%,$wrapper-gradient3), color-stop(51%,$wrapper-gradient4), color-stop(78%,$wrapper-gradient5));
background:-webkit-linear-gradient(top, $wrapper-gradient1 5%,$wrapper-gradient2 16%,$wrapper-gradient3 27%,$wrapper-gradient4 51%,$wrapper-gradient5 78%);
background:-o-linear-gradient(top, $wrapper-gradient1 5%,$wrapper-gradient2 16%,$wrapper-gradient3 27%,$wrapper-gradient4 51%,$wrapper-gradient5 78%);
background:-ms-linear-gradient(top, $wrapper-gradient1 5%,$wrapper-gradient2 16%,$wrapper-gradient3 27%,$wrapper-gradient4 51%,$wrapper-gradient5 78%);
background:linear-gradient(to bottom, $wrapper-gradient1 5%,$wrapper-gradient2 16%,$wrapper-gradient3 27%,$wrapper-gradient4 51%,$wrapper-gradient5 78%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='$wrapper-gradient1', endColorstr='$wrapper-gradient5',GradientType=0);
}
.main-container{padding:12px;}
@media(max-width:768px){
    .main-container{height:45vh;}
    .inputwrap{padding-top:0;margin-bottom:-8px;}
    .middlebar{height:2vh;text-align:center;}
    .resize{top:-14px;margin-left:-24px;left:50%;}
    .wysihtml5-sandbox{width:100% !important;}
}
@media(min-width:768px){
    .main-container, .middlebar{height:92vh;}
    .middlebar{width:4px;}
    .resize{left:-7px;top:45%;padding:8px 0;}
    .inputwrap, .outputwrap{width:calc(50% - 2px);}
}
#wrapper_login{position:relative;height:100%;width:100%;}
#div_logincontainer{position:absolute;top:30%;transform:translateY(-30%);padding:0;}
#output{
background-color:$background-white;
opacity:0.8;
overflow-y:auto;
min-height:100%;
padding:0 4px;
}
#output:hover{opacity:1;}
.textcontainer{height:100%;}
.middlebar{margin:0;padding:0;}
.resize{
font-size:1.5em;
position:absolute;
}
.resize a:hover{text-decoration:none;}
.bottombar{padding:0 12px;height:8vh;}

.unselectable, .unselectable *{-moz-user-select:-moz-none;-khtml-user-select:none;-webkit-user-select:none;-o-user-select:none;user-select:none;}
.hoverbtn{
cursor:pointer;
opacity:0.75;
}
.hoverbtn:hover{opacity:1;}
a.hoverbtn, a.hoverbtn:hover, a.hoverbtn:focus, a.hoverbtn:active, a.hoverbtn:visited{color:inherit;}
.shadow{box-shadow:5px 5px 2px #101010;}

div.vertspace{height:15px;display:inline-block;}

div.hr{border-bottom:1px solid;margin:8px 5% 5px;color:#814080;}

#wysihtml5-toolbar{font-size:1.3em;}
.toolbar{
padding:0 4px;
background-color:$green-grey;
color:$grey-light;
margin-bottom:2px;
height:28px;
opacity:1;
overflow:hidden;
opacity:0.9;
}
.toolbar:hover{opacity:1;}
.btn-glyph{background:none;border:none;padding:1px;width:20px;height:20px;}
.btn-glyph.wysihtml5-command-active{background-color:$grey-light;color:$background-white}
#button_clear span.glyphicon{padding-top:3px;}
#button_post span.glyphicon{margin-left:-3px;}

#inputcontainer{
width:100%;
height:calc(100% - 29px);
}
.input{
width:100%;
height:100%;
background-color:$green-light;
resize:none;
overflow-y:auto;
color:$wrapper-gradient2;
outline:none;
font-size:1.1em;
padding:2px 4px;
opacity:0.9;
}
#input:hover, .input:hover{opacity:1;}

iframe.wysihtml5-sandbox{width:100% !important;height:100% !important;}

.font-italic{font-style:italic;}
.font-underline{text-decoration:underline;}


.error-container{
color:$error-red !important;
text-align:right;
float:right;
overflow:hidden;
-webkit-transition:max-height 0.8s;
-moz-transition:max-height 0.8s;
transition:max-height 0.8s;
}
.error-container.error-min{max-height:0;}
.error-container.error-max{max-height:99px;}

@import 'login';


.divider{width:80%;margin:0 auto;border-bottom:1px solid $purple-dark;visibility:hidden;}

/*Anti-BS*/
.form-control{border-radius:0;background-color:$background-white;}
.control-label{margin:0;}
form .control-label{color:$grey-dark;}

/*Menu*/
.menubtn{
border:0;
background-color:$purple-med;/*//TODO: MAKE THIS LESS INTENSE*/
opacity:0.7;
width:40px;
height:40px;
font-size:1.75em;
padding:5px;
}
.menubtncontainer{padding:0;max-height:36px;}
.menubtncontainer div.open #button_menu{background-color:#CDCDCD;}
.mainmenu{
border-radius:0;
background-color:#D8D8D8;
}
.mainmenu .divider{margin:4px auto;visibility:visible;border-color:#A7A7A7;}
.mainmenu li a{padding:3px 10px 3px 15px;}
.mainmenu li:hover, .mainmenu li a:hover{
color:$green-med;
background-color:$purple-grey;
background-image:none;
font-weight:bold;
}
.mainmenu span.glyphicon{float:right;padding-top:2px;}

.filemenu, .filemenu li, .filemenu li a{width:40px;min-width:40px;margin:0;padding:0;overflow:hidden;}
.filemenu li, .filemenu li a{height:36px;color:initial;}
.filemenu span.glyphicon{font-size:1.75em;float:none;}
#jqdl-add span.glyphicon{padding:6px 9px;}
#jqdl-delete span.glyphicon{padding:7px 7px;}
.dropup.open .glyphicon{opacity:1;}
.filemenu li:hover{color:$green-med;}
ul.filemenu.dropdown-menu{border:0;}