#output_toolbar{
float:right;
background-color:$green-grey;
color:$grey-dark;
border:1px solid $grey-dark;
border-right:none;
border-bottom:none;
border-top-left-radius:8px;
padding:0 2px;
position:absolute;
right:12px;bottom:12px;/*maincontainer padding is 12px*/
opacity:0.9;
}
@media(max-width:768px){
	#output_toolbar{
	float:left;
	right:initial;
	left:12px;
	border-left:none;
	border-top-left-radius:initial;
	border-top-right-radius:8px;
	border-right:1px solid;
	}
}

#button_folder{
background-color:$green-grey;
width:initial;
height:initial;
font-size:1.1em;
}