@import 'colors';

@mixin transition($val){
-webkit-transition:$val;
-moz-transition:$val;
-o-transition:$val;
-ms-transition:$val;
transition:$val;
}


.post {
	display: none;
	width: 100%;
	min-height: 40px;
	max-height: 120px;
	margin-bottom: 4px;
	padding: 2px;
	overflow: hidden;
	color: $purple-grey;
	background-color:$green-light;
	@include transition(background-color 500ms linear);
	position: relative;
}
.post:last-of-type{margin-bottom: 40px;}

.post-dt {
	float: right;
	font-size: 0.8em;
	font-style: italic;
}

.post-text {
	/*overflow-y: scroll;*/   /*TODO: style scrollbars*/
	padding-bottom: 30px;
}

.post-max {
	background-color: $green-grey;
	@include transition(background-color 500ms linear);
}

.post-toolbar {
	width: 100%;
	height: 28px;
	position: absolute; 
	bottom: 0; 
	display: none;
	.post-btn {font-size: 1.4em;}
	li {bottom: 2px;}
	ul{margin: 0;}
}

#modal_post .modal-header {
	background-color: $yellow-postit;
	border-bottom: 4px solid $purple-med;
	button {
		margin: -10px -4px 0 0;
		span{color: $grey-dark;}
	}
} 
#modal_post .modal-content {
	border-radius: 0;
	color: $purple-grey;
	background-color: $green-light;
}