<div class="oauth-menu">
	<div class="col-xs-3 text-center" title="Google">
		<a href="<%= oauthMenu %>/google" class="oauth oauth-google"></a>
	</div>
	<div class="col-xs-3 text-center" title="Facebook">
		<a href="<%= oauthMenu %>/facebook" class="oauth oauth-facebook"></a>
	</div>
	<div class="col-xs-3 text-center" title="Twitter">
		<a href="<%= oauthMenu %>/twitter" class="oauth oauth-twitter"></a>
	</div>
	<div class="col-xs-3 text-center" title="GitHub">
		<a href="<%= oauthMenu %>/github" class="oauth oauth-github"></a>
	</div>
</div>