<template id="template_post">
	<div id=":id:" class="post">
		<span class="post-dt">:dt:</span>
		<div class="post-text">:text:</div>
		<div class="post-toolbar">
			<ul class="list-inline">
				<li><span class="post-btn post-fullscreen hoverbtn glyphicon glyphicon-fullscreen"></span></li>
				<li><span class="post-btn post-edit hoverbtn glyphicon glyphicon-pencil"></span></li>
				<li><span class="post-btn post-delete hoverbtn glyphicon glyphicon-trash"></span></li>
			</ul>
		</div>
	</div>
</template>