<div class="oauth-menu">
	<div class="col-xs-3 text-center" title="Google">
		<a href="auth/google" class="oauth oauth-google"></a>
	</div>
	<div class="col-xs-3 text-center" title="Facebook">
		<a href="auth/facebook" class="oauth oauth-facebook"></a>
	</div>
	<div class="col-xs-3 text-center" title="Twitter">
		<a href="auth/twitter" class="oauth oauth-twitter"></a>
	</div>
	<div class="col-xs-3 text-center" title="GitHub">
		<a href="auth/github" class="oauth oauth-github"></a>
	</div>
</div>